{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <h2><span class="fas fa-plus-circle"></span> {{ 'Extraction'|trans }}</h2>
    <h3>{{ restaurant.name }}</h3>
    {% if restaurant.extraction %}
        <div class="row">
            <div class="col-3">
                <a href="{{ path('tag_list', {'id':restaurant.extraction.id}) }}" class="btn btn-light btn-lg btn-block" style="padding: 15px"><h4><span class="fas fa-tags"></span><br>{{ 'Tags'|trans }}</h4></a>
            </div>
        </div>
    {% endif %}
    <br><br>
    <div style="position: relative">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

